/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =Structure
----------------------------------------------- */
#wrap-container {
	height:902px;
	overflow:hidden;
}
	#bg-container {
		height:515px;
		background-color:transparent;
		background-position:50% 0%;
		background-repeat:no-repeat;
	}
	/*#bg-container.home0 {*/
	/*	background-image: url(../home-assets/uja-girl-bg.jpg);*/
	/*}*/
		#over-bg {
			height:inherit;
			background: transparent url(../images/core/over-bg.png) top center repeat-x;
		}
	#content {
		position:relative;
		top:-515px;
		width:940px;
		margin:0 auto;
		padding: 0 31px 22px 27px;
		background: transparent url(../images/core/cont-bg.png) no-repeat bottom center;
	}
	
		#add-box {
			position:relative;
			top:0;
			left:0;
			padding-left:640px;
			font-family: FranklinGothicURW-Boo;
		}
		#add-box p{
			color:#ffffff;
			font-size:43px;
			line-height:38px;
			height:160px;
			padding:42px 16px 50px 55px;
			overflow:hidden;
			background:#2280B2 url(../images/core/add-box-p.jpg) repeat-x;
		}
		#add-box p span {
			position:relative;
			top:-40px;
			font-family: FranklinGothicURW-Dem;
		}
		#add-box p span.middle {
			display: block;
			top:-45px;
			left:-36px;
			width:250px;
			color:#ccebf8;
			line-height:50px;
			border-bottom:3px solid #ccebf8;
			font-family:FranklinGothicURW-Boo;
		}
		#nav-box {
			position:relative;
			top:0;
			left:0px;
			width:475px;
			height:60px;
			padding:10px 135px 10px 10px;
			margin:20px 0;
			background-color:rgba(255, 255, 255, 0.8);
		}
		#nav-box h2{
			font-family: FranklinGothicURW-Dem;
			font-size: 19px;
			line-height: 25px;
		}
		#nav-box p{
			word-break:break-all;
			font-size:12px;
		}
		#slide-nav {
			position:absolute;
			bottom:10px;
			right:10px;
		}
		#slide-nav li {
			float:left;
		}
		#slide-nav a {
			display:block;
			/*float:left;*/
			width:8px;
			padding:5px;
			text-indent:-9999px;
			background: transparent url(../images/core/empty-bullet.png) center no-repeat;
		}
		
		#slide-nav a.selected {
			font-weight:bold;
			background: transparent url(../images/core/black-bullet.png) center no-repeat;
		}
		#slide-nav a.navigator.back {
			background: transparent url(../images/core/backward.png) center no-repeat;
		}
		#slide-nav a.navigator.back.hover {
			background: transparent url(../images/core/backward-hover.png) center no-repeat;
		}
		#slide-nav a.navigator.fore {
			background: transparent url(../images/core/foreward.png) center no-repeat;
		}
		#slide-nav a.navigator.fore.hover {
			background: transparent url(../images/core/foreward-hover.png) center no-repeat;
		}
		#find-help ,
		#donate {
			display:block;
			position:absolute;
			text-decoration:none;
			top:272px;
			width:140px;
			line-height:80px;
			height:80px;
			color:#ffffff;
			text-align:center;
			font-size:22px;
			font-family: FranklinGothicURW-Dem;
		}
		#find-help {
			background-color:#d95934;
			left:667px;
		}
		#donate {
			background-color:#e18a19;
			left:827px;
		}
		#column-boxes {
			width:100%;
			overflow:hidden;
		}
		div.page-col {
			float:left;
			width:220px;
			height:509px;
			margin-right:20px;
			font-size:11px;
		}
		div.col-about {
			color:#eeeeee;
			background:#2280B2 url(../images/core/col-about-bg.jpg) repeat-x;
			padding:9px;
			height:54px;
		}
		div.col-about h2 {
			font-family: FranklinGothicURW-Boo;
			line-height:21px;
			font-size:17px;
		}
		div.col-content {
			border:1px solid #2280B2;
			border-width:0 1px;
			padding:9px;
			width:200px;
			overflow:hidden;
			background-color:#ffffff;
		}
		div.col-content img.thumb {
			height:130px;
		}
		div.col-content h3 {
			font-family: FranklinGothicURW-Dem;
			font-size:14px;
			padding:8px 0;
			color:#00538e;
		}
		div.col-content div.col-social {
			padding:9px 0;
		}
		div.col-content a.link-box1,
		div.col-content a.link-box2 {
			font-family: FranklinGothicURW-Dem;
			font-size:14px;
			display:block;
			padding:0 6px;
		}
		div.col-content a.link-box1 {
			height:56px;
			line-height:56px;
			border:1px solid #b2e6f2;
		}
		div.col-content a.link-box2 {
			margin:10px 0;
			height:36px;
			line-height:36px;
			background-color:#fdb827;
			-moz-border-radius: 7px;
			border-radius: 7px;
			background:transparent url(../images/core/link-box2.jpg) repeat-x;
		}
		div.col-content p {
			background:transparent url(../images/core/next.png) no-repeat 95% 100%;
		}
		div.col-content a {
			text-decoration:none;
			color:#000000;
			background:transparent url(../images/core/next.png) no-repeat 95% 50%;
		}
		div.col-more {
			background-color:#2280B2;
			padding:9px;
			height:22px;
		}
		div.col-more a {
			font-size:14px;
			color:#eeeeee;
			line-height:22px;
			text-decoration:none;
			padding-right:16px;
			background:transparent url(../images/core/next-white.png) no-repeat right center;
		}
#footer{
	position:relative;
	top:23px;
	overflow:hidden;
	width:940px;
	margin:0 auto;
	padding: 22px  31px 27px;
	background: transparent url(../images/core/doc-tile.png) repeat-y top center;
	/*border:1px solid red;*/
}

	div.foot-col {
		width:146px;
		float:left;
		margin-right:10px;
		background:transparent url(../images/core/foot-border.jpg) no-repeat top right;
	}
	div.foot-col.last {
		background-image:none;
	}
		div.foot-col h2{
			font-size:14px;
			color:#00438e;
			padding:0 0 10px;
			font-family: FranklinGothicURW-Dem;
		}
		div.last {
			margin-right:0;
		}
		div.no-visible {
			display:none;
		}

#tellus-form {
	padding:10px;
}
	#tellus-form input,
	#tellus-form textarea {
		display:block;
		width:392px;
		margin-bottom:15px;
		padding:3px 2px 3px 7px; 
	}
	
	#tellus-form textarea {
		height:200px;
	}
	#tellus-form input[type="submit"] {
		display:inline-block;
		position:relative;
		left:335px;
		width:70px;
	}