/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =Structure
----------------------------------------------- */
#wrap-container {
	/*position:relative;*/
	height:902px;
	overflow:hidden;
}
	#bg-container {
		height:515px;
		background-color:transparent;
		background-position:50% 0%;
		background-repeat:no-repeat;
	}
	#bg-container.home1 {
		background-image: url(../home-assets/uja-girl-bg.jpg);
	}
	#bg-container.home2 {
		background-image: url(../home-assets/uja-oldexercise-bw-bg.jpg);
	}
	#bg-container.home3 {
		background-image: url(../home-assets/uja-girl-bw-bg.jpg);
	}
	#bg-container.home4 {
		background-image: url(../home-assets/uja-oldexercise-bg.jpg);
	}
		#over-bg {
			height:inherit;
			background: transparent url(../images/core/over-bg.png) top center repeat-x;
		}
	#content {
		position:relative;
		top:-515px;
		width:940px;
		margin:0 auto;
		padding: 0 31px 22px 27px;
		background: transparent url(../images/core/cont-bg.png) no-repeat bottom center;
	}
	
		#add-box {
			position:relative;
			top:0;
			left:0;
			/*left:640px;*/
			/*width:252px;*/
			padding-left:640px;
		}
		#add-box div{
			height:160px;
			padding:42px 16px 50px 30px;
			background:transparent url(../home-assets/uja-bluecrowd-thumb.jpg) top center no-repeat;
		}
		#nav-box {
			position:relative;
			top:0;
			left:0px;
			width:475px;
			height:60px;
			padding:10px 135px 10px 10px;
			margin:20px 0;
			background-color:rgba(255, 255, 255, 0.5);
		}
		#slide-nav {
			position:absolute;
			bottom:10px;
			right:10px;
			/*width:135px;*/
		}
		#slide-nav li{
			float:left;
			padding:5px;
		}
		#find-help ,
		#donate {
			position:absolute;
			top:272px;
			width:140px;
			height:80px;
			color:#ffffff;
		}
		#find-help {
			background-color:#d95934;
			left:667px;
		}
		#donate {
			background-color:#e18a19;
			left:827px;
		}
		div.page-col {
			float:left;
			width:217px;
			height:509px;
			border:1px solid gray;
			margin-right:20px;
		}
#footer{
	position:relative;
	top:23px;
	width:940px;
	margin:0 auto;
	padding: 22px  31px 27px;
	overflow:hidden;
	background: transparent url(../images/core/doc-tile.png) repeat-y top center;
}

	div.foot-col {
		width:150px;
		float:left;
		margin-right:6px;
	}
	
	
		div.last {
			margin-right:0;
		}
		div.clear-float {
			clear:left;
		}