/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =Structure
----------------------------------------------- */
#wrap-container {
	position:relative;
	height:902px;
	overflow:hidden;
}
	#bg-container {
		height:515px;
		overflow:hidden;
	}
	#bg-container div{
		height:515px;
		background-color:transparent;
		background-position:50% 0;
		background-repeat:no-repeat;
	}
		#over-bg {
			position:relative;
			top:-515px;
			background-image:url(../images/core/over-bg.png);
		}
		
	#content {
		position:relative;
		top:-515px;
		width:940px;
		margin:0 auto;
		padding: 0 27px 22px 27px;
		background-color:transparent;
		background-image:url(../images/core/cont-bg.png);
		background-position:50% 0%;
		background-repeat:no-repeat;
	}
		/*caption, navigation and additional boxes ---------------------------------------*/
		#add-box {
			position:relative;
			top:0;
			left:0;
			margin-left:640px;			
		}
		#add-box a{
			text-indent:-9999px;
			display:block;
			width:300px;
			height:250px;
			background:transparent url(../home-assets/good_together.jpg) no-repeat;
		}
		#slide-hover {
			position:absolute;
			top:0;
			left:27px;
			display:block;
			width:620px;
			height:250px;
		}
		#nav-box {
			position:relative;
			top:0;
			left:0px;
			width:475px;
			height:60px;
			padding:10px 135px 10px 10px;
			margin:20px 0;
			background-color:rgba(255, 255, 255, 0.8);
		}
		#nav-box h2{
			font-size: 19px;
			line-height: 25px;
			height:25px;
		}
		#nav-box p{
			height:14px;
			overflow:hidden;
			font-size:12px;
		}
		#nav-box h2.hover,
		#nav-box p.hover {
			text-decoration:underline;
		}
		
		#slide-nav {
			position:absolute;
			bottom:10px;
			right:10px;
		}
		#slide-nav li {
			float:left;
		}
		#slide-nav a {
			display:block;
			width:8px;
			padding:5px;
			text-indent:-9999px;
			background: transparent url(../images/core/empty-bullet.png) center no-repeat;
		}
		
		#slide-nav a.selected {
			font-weight:bold;
			background: transparent url(../images/core/black-bullet.png) center no-repeat;
		}
		#slide-nav a.navigator.back {
			background: transparent url(../images/core/backward.png) center no-repeat;
		}
		#slide-nav a.navigator.back.hover {
			background: transparent url(../images/core/backward-hover.png) center no-repeat;
		}
		#slide-nav a.navigator.fore {
			background: transparent url(../images/core/foreward.png) center no-repeat;
		}
		#slide-nav a.navigator.fore.hover {
			background: transparent url(../images/core/foreward-hover.png) center no-repeat;
		}
		#find-help ,
		#donate {
			display:block;
			position:absolute;
			text-decoration:none;
			top:270px;
			width:140px;
			height:51px;
			padding-top:29px;
			color:#ffffff;
			text-align:center;
			font-size:22px;
		}
		#find-help {
			background-color:#d95934;
			left:667px;
		}
		#donate {
			background-color:#e18a19;
			left:827px;
		}
		/*column boxes -----------------------------------------------------------------------------*/
		#column-boxes {
			width:100%;
			overflow:hidden;
		}
		div.page-col {
			float:left;
			width:220px;
			height:509px;
			margin-right:20px;
			font-size:11px;
		}
		div.page-col p img,
		div.page-col span img,
		div.col-more img {
			vertical-align: middle;
			margin-left: 3px;
		}
		div.col-about {
			color:#eeeeee;
			background:#2280B2 url(../images/core/col-about-bg.jpg) repeat-x;
			padding:9px 8px;
			height:54px;
		}
		div.col-about h2 {
			font-family: FranklinGothicURW-Boo,arial,helvetica,clean,sans-serif;
			line-height:21px;
			height:21px;
			font-size:17px;
		}
		div.col-about p {
			height:28px;
			/*overflow:hidden;*/
		}
		div.col-content {
			border:1px solid #2280B2;
			border-width:0 1px;
			padding:9px 9px 0 9px;
			width:200px;
			overflow:hidden;
			background-color:#f0f0f1;
		}
		div.col-content img.thumb {
			height:130px;
		}
		div.col-content h3 {
			height:34px;
			padding:8px 0;
		}
		div.col-content h3 a{
			height:34px;
			overflow:hidden;
			font-size:14px;
			color:#00538e;
		}
		div.col-content h3 a:hover{
			text-decoration:underline;
		}
		div.col-content p {
			height:27px;
			overflow:hidden;
		}
		div.col-content div.col-social {
			padding:9px 0;
		}
		div.col-content div.col-social iframe{
			margin-right:7px;
		}
		div.col-content a {
			display:block;
			text-decoration:none;
			color:#000000;
		}
		
		div.link-boxes {
			border:1px solid #2280B2;
			border-width:0 1px;
			padding:5px 9px;
			width:200px;
			height:121px;
			overflow:hidden;
			background-color:#ffffff;
		}
		div.link-boxes a {
			display:block;
			position:relative;
			text-decoration:none;
			font-size:14px;
			color:#00538e;
		}
		div.link-boxes a.link-box1 {
			padding:0 6px;
			height:56px;
			overflow:hidden;
			border:1px solid #b2e6f2;
			margin-bottom:5px;
		}
		div.link-boxes a.link-box1 span{
			display:table-cell;
			height:inherit;
			vertical-align:middle;
		}
		div.link-boxes a.link-box2 {
			padding-top:10px;
			height:48px;
		}
		div.link-boxes a.link-box2 span{
			padding:0 6px;
			display:block;
			height:36px;
			line-height:36px;
			background:transparent url(../images/core/link-box2-bg.png) no-repeat;
		}
		div.link-boxes a.link-box2 .cufon,
		div.link-boxes a.link-box2 img{
			margin-top:11px;
		}
		
		div.col-more {
			background:#2280B2 url(../images/core/col-footer-bg.jpg) repeat-x;
			padding:9px;
			height:22px;
		}
		div.col-more a {
			font-size:14px;
			color:#eeeeee;
			line-height:22px;
			text-decoration:none;
			padding-right:16px;
		}
#footer{
	position:relative;
	top:23px;
	overflow:hidden;
	width:940px;
	margin:0 auto;
	padding: 22px 27px;
	background: transparent url(../images/core/doc-tile.png) repeat-y top center;
}
	
	div.foot-col a:link{
		text-decoration:none;
		color:#000000;
	}
	div.foot-col a:hover{
		text-decoration:underline;
	}
	div.foot-col {
		height:260px;
		width:147px;
		float:left;
		margin-right:10px;
		background:transparent url(../images/core/foot-border.jpg) no-repeat top right;
	}
	div.foot-col ul {
		font-size:11px;
		line-height:18px;
	}
	div.foot-col.last {
		background-image:none;
	}
		div.foot-col h2{
			padding:0 0 10px;
		}
		div.foot-col h2 a:link{
			font-size:14px;
			color:#00438e;
		}
		div.last {
			margin-right:0;
		}
		div.no-visible {
			display:none;
		}
div.b {
	position:relative;
	top:23px;
	width:998px;
	margin:0 auto;
        height: 12px;
        background: url(../images/core/doc-bottom.png) 0 0 no-repeat transparent;   
    }
		
/*global*/
a {
	outline:medium none;
}
#tellus p {
	color:#ffffff;
	font-size:16px;
	padding:0 10px;
}

#tellus-form {
	padding:10px;
}
	#name,
	#email,
	#comment {
		width:392px;
		margin-top:15px;
		padding:3px 2px 0 7px; 
	}
	
	#topic {
		margin-top:15px;
		width:405px;
	}
	#comment {
		height:200px;
	}
	#tellus-form input[type="submit"] {
		margin-top:15px;
		display:block;
		position:relative;
		left:335px;
		width:70px;
	}
	#tellus-form label.error {
		display:block;
		color:#cc0000;
	}
	
