/*box background opacity bug*/
#nav-box {
    background-color:#ffffff;
    filter: alpha(opacity = 80);
}
div.link-boxes a.link-box2 img {
margin-top: 0;
margin-bottom:4px;
}
div.link-boxes a.link-box1 img {
margin-bottom: 2px;
}