/* global */
html {
        background: url(http://www.ujafedny.org/themes/ujafny/images/core/body-tile.jpg) 0 0 repeat-x #ccdae4;
    }
body {    
    padding-top: 16px;
}

/* Header */
div.m {
    width: 940px;
    margin: 0 auto;
    padding: 15px 27px 22px 27px;
    background: url(http://www.ujafedny.org/themes/ujafny/images/core/doc-tile.png) 0 0 repeat-y transparent;
}
#header {
    height: 80px;
}

#logo {
    display: block;
    width: 191px;
    height: 63px;
    margin: 0 auto;
    background: url(http://www.ujafedny.org/themes/ujafny/images/core/ujafedny.png) 0 0 no-repeat transparent;
}

#logo span {
    display: none;
}

#utility {
    float: right;
    margin-top: -49px;
}

#utility #welcomeFrame {
    width: 240px;
    height: 33px;
    margin: 0;
    padding: 0;
    margin-top: -16px;
    float: right;
    border: none;
    background-color: transparent;
    overflow: hidden;
}

#search_box {
    /*
    clear: both;
    float: right;
    padding-top: 9px;
    margin-right: -5px;
    */
    clear: both;
    float: left;
    margin-right: 10px;
    padding-top: 9px;
}

#search_box-query {
    width: 111px;
    height: 19px;
    padding: 2px 9px 0 9px;
    border: none;
    background: url(http://www.ujafedny.org/themes/ujafny/images/form/input-text-blue-129x21.png) bottom right no-repeat transparent;
    color: #1a4b6d;
    font-size: 12px;
}

/* primary nav */
#primary {
height: 36px;
background: url(http://www.ujafedny.org/themes/ujafny/images/core/primary.png) 0 0 no-repeat transparent;
}
